node_modules/
database.db
.env
.env.local
.env.*.local
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
dist/
build/
.vscode/
.idea/
*.swp
*.swo
public/uploads/*
!public/uploads/.gitkeep

# SSH keys
*.ppk
*.pem
*.key
*.key.pub
